# compiled output files and executables
build
out
dist
target
*.node
index.js
index.d.ts
main.mjs
main.d.mts
test.cjs
build.js
*.wasm
*.wasi.cjs
*.wasi.d.cts
*.wasi-browser.js
wasi-worker*.mjs
browser.js

# dependencies
vendor
node_modules

# log files
logs
*.log
.vitest/
